@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --font-family: "Nunito", serif;
    --font-family-play: "Play", serif;
    --color1: #811f10;
    --para-color: #545454;

    --border-col: #1818182f;
    --bg-color: #1A1A1A;
    --color-round: rgba(220, 220, 220, 0.966);
}

body {
    color: rgb(48, 48, 48) !important;
    font-weight: 700 !important;
    font-family: var(--font-family) !important;
}

.text-white1 {

    color: rgba(230, 230, 230, 0.842) !important;
}

.text-dark1 {
    color: var(--bg-color) !important;
}

.num {
    font-family: var(--font-family-play) !important;
}

/* MEDIA QUIRES */
.sdsd {
    display: block;
}

@media (max-width:992px) {
    .sdsd {
        display: none !important;
    }

    .float-en {
        position: absolute;
        right: 2%;

    }

}

.head-1 {
    font-weight: 600 !important;
}

.topoff>div>ul>li>a {
    text-transform: uppercase;
    color: white !important;
    font-weight: 600;
    font-size: 28px !important;
}

.topoff {
    height: 70vh;
}

.lets-talk-btn-hover {
    position: absolute;
    top: 0%;
    height: 0%;
    width: 0%;
    background-color: #811f10 !important;
    z-index: -1;
    border-radius: 20px;
    height: 100%;

    right: 0%;
    transition: 0.5s ease-in-out !important;
}

.top-nav-heading {
    opacity: 0.1;
}

.top-header-icon>a {
    color: var(--bg-color) !important;
    background-color: white;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 22px !important;
}

.lets-talk-btn:hover .lets-talk-btn-hover {
    left: 0%;
    height: 100%;
    width: 100%;
}

.lets-talk-btn {
    z-index: 1;
    position: relative;
    letter-spacing: 1px;
    border-radius: 20px;

    border: 1px solid white;
    background-color: transparent;
}

@media (max-width:576px) {
    .float-en {
        position: absolute;
        right: 2%;

    }

}

/* MEDIA QUIRES */

.navbar {

    z-index: 1111;

    border-bottom: 1px solid var(--border-col);
    transition: 0.4s ease-in-out !important;
}

#topbtn {
    font-size: 24px !important;

}

.topbtnfix {
    color: white;
    padding: 15px 10px !important;
    position: fixed;
    bottom: 10px;
    width: 50px;
    text-align: center !important;
    right: 10px;
    z-index: 22222;
    border-radius: 50%;
    color: var(--color1) !important;
    background-color: white;
    border: 2px solid var(--color1);
    /* color: white !important; */
    /* background-color:var(--color1) !important; */
}

/* NAV-HOVER */
.navhover {
    /* background-color: #bb9108 !important; */
    position: absolute !important;
    top: 0px;
    width: 0%;
    color: var(--golden-color) !important;
    z-index: -22 !important;
    bottom: 0px;

    transition: 0.5s ease-in-out !important;

    border-bottom: 2px solid var(--golden-color);
}

.nav-item:hover .navhover {
    top: 0px !important;
    width: 100% !important;
}

.nav-item {
    position: relative;
    margin: 0px 6px;
}

/* NAV-HOVER */
.nav-item>a {
    font-weight: 500;
    /* font-size: 34px !important; */
    color: var(--para-color);
}

.bg {
    background-color: var(--color1) !important;
}

@media (max-width:992px) {}

.btn-red {

    border-radius: 50% !important;
    border: 1px solid var(--color1) !important;
    color: var(--color1) !important;
    background-color: transparent !important;
}

.arr {
    fill: var(--color1) !important;
}

.image-1 {
    /* border-radius: 250px; */
    /* padding-left: 10px; */
    min-height: 370px;
    -o-object-fit: cover;
    object-fit: cover;
}

.color-red {
    background-color: var(--color1) !important;
}

.ol7 {
    border: 1px solid rgb(255, 255, 255);
    /* border-radius: 250px; */
}

.banner-btn>svg {
    fill: white !important;
}

@media (min-width:992px) {
    .image-1 {
        border-radius: 250px !important;
        /* padding-left: 10px; */
        min-height: 370px;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

.image-1 {
    border-radius: 20px;

    min-height: 370px;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (max-width:992px) {
    .banner-btn {
        border-radius: 0% !important;
        padding: 5px !important;
    }
}

.offcanvas {
    z-index: 1111 !important;
}

.banner-btn {
    position: relative;

    background-color: var(--bg-color);
    z-index: 1;
    transition: 0.7s ease-in-out !important;

}

.hoverbanner {
    transition: 0.7s ease-in-out !important;

    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    z-index: 1;

}

.arrsvg {
    position: absolute !important;
    fill: white !important;
    bottom: 30% !important;
}

.banner-btn:hover .hoverbanner {

    opacity: 1 !important;
    height: 100%;
    width: 100%;
    color: var(--color1) !important;
    background-color: var(--color1);

}

.pb-g {
    font-size: 14px;
    background-color: rgb(220, 219, 219);
}

.para-color {

    color: var(--para-color) !important;
}

.ofc1 {
    transition: 0.7s ease-in-out !important;
    width: 75% !important;
}

.fixo {
    top: 0%;
    height: 100vh;
    width: 2px;
    z-index: -1;
    background-color: var(--color-round) !important;
    position: fixed;
    left: 4.6%;
}

.fixo1 {
    top: 0%;
    height: 100vh;
    width: 2px;
    z-index: -1;
    background-color: var(--color-round) !important;
    position: fixed;
    right: 4.6%;
}

.top-ani {
    height: 80px;
    width: 1px;
    position: fixed;
    background-color: var(--color1);
    animation: 0.4s linear infinite top;
    /* Animation applied here */
}

@keyframes top {
    from {
        top: 0%;
        /* Start position */
    }

    to {
        top: 100%;
        /* End position */
    }
}

.roun {
    border: 1px solid var(--color-round) !important;
}

.who {
    background-color: var(--bg-color);

}

.gth>div>img {
    object-fit: cover;
    background-size: cover;
    height: 400px !important;
    border-radius: 5%;
}

.s11 {
    fill: #1A1A1A !important;
}

.btn1 {
    background-color: transparent;
    /* color: white; */
    font-size: 15px;
    font-weight: 300;
    outline: none;
    border: none;
    z-index: 111;
    position: relative !important;
}

.s1 {

    fill: white !important;
}

.under-hover {
    position: absolute;
    border-bottom: 1px solid var(--color1) !important;
    bottom: 0px;
    width: 10%;
    height: 0%;
    z-index: -1;
    transition: 0.6s ease-in-out !important;
}

.btn1:hover .under-hover {
    width: 100%;

    height: 100%;
}

.klo {
    background: rgb(25, 23, 23);
    background: linear-gradient(90deg, rgba(25, 23, 23, 1) 1%, rgba(22, 22, 22, 1) 58%);
    border: 1px solid var(--para-color);
    border-radius: 10px;
}

.bg1 {
    background-color: #252525 !important;
}

select {
    color: var(--para-color) !important;
}

input {
    color: white !important;
}

.form-control:focus {
    color: white !important;
    outline: none !important;
    border: none !important;
}

.form-control:focus .form-control::placeholder {
    color: white !important;
}

.form-control {
    box-sizing: border-box !important;
    padding: 10px !important;
    transition: 0.5s ease-in-out !important;

    border: none !important;
}

.form-control,
.form-select {
    transition: 0.5s ease-in-out !important;
    border: none !important;
    color: white !important;
    background-color: var(--bg-color) !important;
}

.navfix {
    position: fixed !important;
    top: 0% !important;
    transition: 0.4s ease-in-out !important;
    background-color: rgb(244, 244, 244);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}

#navunder {
    width: 1px;
    position: absolute;
    bottom: 0px;
    left: 0px;

    border-bottom: 2px solid var(--color1);
}

#home {
    transition: 0.5s ease-in-out;
}

.ser-col-1 {
    transition: 0.9s ease-in-out;

    border-top: 1px solid var(--border-col) !important;
    border-bottom: 1px solid var(--border-col) !important;

}

.ser-col-1:hover {
    cursor: grab;
    transition: 0.7s ease-in-out !important;
    background-color: #47474721;
}

.pro>span:hover {
    color: white;
    background-color: #474747;
}

.pro>span {
    transition: 0.6s ease-in-out !important;
    border-radius: 7px;
    padding: 5px 15px;
    transition: 0.8s ease-in !important;
    font-size: 14px !important;
    border: 1px solid #47474762;
    /* background-color: var(--para-color); */
}

.course-det {
    transition: 0.7s ease-in-out !important;
    display: none;
}

.ser-col-1:hover .course-det {
    transition: 0.7s ease-in-out !important;
    display: block;
}

.offcanvas-top {
    background-color: var(--bg-color) !important;
    transition: 0.9s ease-in-out !important;
    height: 100vh !important;
    position: fixed;
    right: 0%;
    top: 0%;
    opacity: 0.99;
    animation: top 0.1s linear !important;

}

@keyframes top {
    0% {
        opacity: 0.6;
        /* At the start, opacity is 0.6 */
    }

    100% {
        opacity: 1 !important;
        /* At the end, opacity becomes 1 */
    }
}

.ser {
    background-color: var(--bg-color);
}

.i1 {
    object-fit: cover;
    background-size: cover;
    border-radius: 120px 0 120px 0;
}

.i2 {
    border-radius: 150px 150px 250px 0;
    object-fit: cover;
    background-size: cover;
}

.i3 {
    object-fit: cover;
    background-size: cover;
    border-radius: 150px 150px 250px 0;
}

.i4 {
    object-fit: cover;
    background-size: cover;
    border-radius: 120px 0 120px 0;
}


/* SERIVCE-PAGES CSS */
.service-card {
    background-color: #f8f9fa;
    border: 1px solid var(--border-col);
    padding: 10px;
    border-radius: 8px;

    position: relative !important;
    transition: 0.6s ease-in-out !important;
    z-index: 1;
}

.service-card:hover .service-card-hover {
    width: 100%;
    background-color: var(--bg-color);
}

.service-icon {

    background-color: var(--bg-color);
    color: white;


}

.service-title {

    margin-bottom: 10px;
}

.service-description {
    font-size: 14px;

    color: var(--para-color);
}

footer {
    background-color: var(--bg-color) !important;
}

.bottom-footer {
    border-top: 1px solid var(--para-color) !important;
    background-color: var(--border-col);
}

/* SERICE-PAGE CSS */
/* FOOTER START */
/* footer>div>div>div */
/* FOOTER END */
.cardss>div>div:hover .cardss>div>div>h4 {
    font-weight: normal;
}

.cardss1>div {
    z-index: 2 !important;

    position: relative !important;
    transition: 0.9s ease-in-out !important;
}

.col-22 {
    border-right: 1px solid white !important;
}



.cardss-hover {
    transition: 0.9s ease-in-out !important;
    z-index: -1;
    background-color: var(--bg-color);
    height: 100%;
    width: 0%;
    top: 0%;
    position: absolute !important;
}

.cardss>div>div>h4 {
    transition: 0.7s ease-in-out !important;
}



.cardss>div>div>div>i {
    padding: 15px;
    font-size: 28px;
    border-radius: 0% !important;
    color: white !important;

}

.set-btn {
    font-weight: 600 !important;
    color: var(--bg-color) !important;
    padding: 10px;
    font-size: 14px;
    border-radius: 20px;
    border: 2px solid var(--border-col);
    background-color: white;
    position: relative;
    z-index: 100 !important;


}

.set-btn:hover {
    color: var(--bg-color) !important;
}

.set-btn:hover .set-btn-hover {
    width: 100% !important;
    z-index: 200 !important;
    color: white !important;
}

.set-btn-hover>a>i {
    color: white !important;
}

.set-btn-hover {
    z-index: 20 !important;
    transition: 0.9s ease-in-out !important;
    top: 0%;
    left: 0%;
    height: 100%;

    border-radius: 20px !important;
    width: 0%;
    background-color: #811f10b0 !important;
    position: absolute !important;
}

.col-22 {
    margin: 0px;
    padding: 0px;
    background-color: var(--color1);
}

.paraa-1 {

    text-transform: capitalize;
    font-weight: 600;
    font-size: 15px !important;
}

.strk {
    transition: 1.6 ease-in-out !important;
    color: var(--bg-color);
    font-weight: 600 !important;
    font-size: 42px !important;
    text-align: center;
}

@media (max-width:992px) {
    .strk {
        font-size: 42px !important;
    }
}

#topbtn {

    text-decoration: none !important;
    font-size: 14px !important;
    font-family: var(--font-family-play);
}

/*  */

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;


}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

swiper-slide:hover .slide-pos {
    height: 20%;
    transform: rotateX(0deg);

}

.slide-pos {
    transform: rotateX(-90deg);
    transition: 0.6s ease-in-out !important;

    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 5px 0px !important;
    width: 80%;

    height: 8%;
    left: 10%;
    position: absolute !important;
    bottom: 10px !important;
    color: white !important;
    background-color: var(--color1) !important;
}

/*  */

.borders {
    border: 1px solid var(--para-color) !important;
}

.btn3 {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border: none !important;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.4s ease-in-out !important;
    position: relative !important;
}

.btn3:hover .icon-hover {
    transition: 0.4s ease-in-out !important;

    background-color: var(--color1) !important;
    width: 100% !important;
    height: 100% !important;
    color: white !important;
}

.icon-hover {
    color: transparent !important;
    position: absolute !important;
    width: 100%;
    height: 0% !important;
    bottom: 0%;
    transition: 0.4s ease-in-out !important;
    background-color: var(--color1);
    font-size: 24px !important;
    z-index: 111;
    padding-top: 6px;
    /* padding-top: 20px !important; */
    left: 0px;
    border: none !important;
    /* padding-top: 12px; */

}

.dropdown {
    transition: 0.5s ease-in-out !important;

}

.dropdown-menu {
    transition: 0.5s ease-in-out !important;
    transform: rotateX(90deg) !important;
}

.dropdown-menu>li>.dropdown-item {
    transition: 0.2s ease-in-out !important;
    color: white !important;
}

.who1 {
    background-color: var(--bg-color) !important;
}

.dropdown-menu>li>.dropdown-item:hover {
    background-color: white;
    color: var(--color1) !important;
}

.dropdown-menu {
    display: block !important;
    padding: 14px !important;
    background-color: var(--color1) !important;
}

.dropdown:hover .dropdown-menu {

    transform: rotateX(0deg) !important;

}

.nav-item>.nav-link {
    color: #2e2e2ec5;
    transition: 0.6s ease-in-out !important
}

.nav-item>.nav-link:hover {
    color: var(--color1) !important;
}

.navhover {
    /* background-color: #bb9108 !important; */
    position: absolute !important;
    top: 0px;
    width: 0%;
    color: var(--color1) !important;
    z-index: -22 !important;
    bottom: 0px;

    transition: 0.5s ease-in-out !important;

    border-bottom: 2px solid var(--color1) !important;
}

.nav-item:hover .navhover {
    top: 0px !important;
    width: 100% !important;
}

.social-icons {
    padding: 10px;
    left: 0%;
    background-color: var(--color1);
    background-color: #2b2a2a;
}

.social-icons>div>a>i {
    padding: 10px;
    font-size: 20px;
    color: white !important;
    border-radius: 12%;
    background-color: var(--color1);
}

.offcanvas-end {
    transition: 0.8s ease-in-out !important;
}

/* 
 PAGES CSS */
.about-container-1 {
    background-image: url("/Assets/Banner-Image/banner-img-2.jpg");
    height: 60vh;
    width: 100%;
    background-size: cover;
    object-fit: cover;
}

/* 
 PAGES CSS */
.cardsss:hover {

    height: 480px;
}

.cardsss:hover .btn-explore {
    background-color: var(--color1);
    color: white !important;
}

.head-2 {
    transition: all 0.7s !important;
}

.cardsss {
    height: 160px;
    transition: all 0.7s !important;
    border-radius: 10px;
    padding: 14px 10px;
    overflow: hidden !important;
    background-color: #252525;
}

.tags>p {
    text-transform: capitalize;
    font-size: 14px;
    padding: 5px 17px;
    font-weight: 700 !important;
    border: 1px solid var(--para-color);
    border-radius: 30px;
    background-color: var(--bg-color);
}

.btn-explore {
    transition: all 0.7s !important;

    padding: 10px;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600 !important;
    background-color: var(--bg-color);
}